#loldle{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,1);
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

#loldle h1{
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    margin: 2%;
    padding: 0;
    color: #e19b1a;
}


#fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #083039;
    z-index: -1;
    opacity: 0.5;
    /*display: none;*/
}

#loldle-content{
    position: relative;
    width: 75%;
    height: 100%;
    z-index: 1;
    left: 15em;
    overflow-y: hidden;
    /* display: grid; */
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    display: none;
    top: 2em;
}

#loldle-content h2{
    /* font-size: 2em; */
    font-weight: bold;
    text-align: center;
    margin-bottom: 15%;
    padding: 0;
    color: #e19b1a;
    border-bottom: 1px solid #ffffff;
}

#entrada{
    position: relative;
    z-index: 1;
    width: 90%;
    left: 3em;
    overflow-y: hidden;
    display: grid;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.search-input-box {
    width: 100%;
    border-radius: 5px;
    position: relative;
    color: #f5f6f4;
}

.search-input-box input {
    width: 90%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 55px;
    padding: 0 60px 0 20px;
    font-size: 18px;
}

#buscador{
    position: absolute;
    font-size: 2.5em;
    top: 10%;
    margin-left: 1%;
}

#buscador:hover{
    color: #e19b1a;
}

/* Contenedor de sugerencias */
.container-suggestions {
    max-height: 350px;
    width: 100%;
    /* opacity: 0; */
    display: none;
    /* pointer-events: none; */
    padding: 0;
    overflow-y: auto;
    background-color: #2f3640;
    box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.sugerencia, .sugerencia_quote, .sugerencia_ability{
    display: grid;
    grid-template-columns: 25% 75%;
    height: 7.5em;
}

.sugerencia_quote, .sugerencia_ability{
    margin: 0.75em 0 0 0;
    border: 1px solid #ffffff;
    background-color: #5a381475;
}

.sugerencia:hover{
    background-color: #e19b1a;
    /* color: #2f3640; */
    cursor: pointer;
}

.champion_container{
    position: relative;
    width: 60%;
    height: 70%;
    /*z-index: 1;*/
    margin-left: 1em;
    margin-top: 0.5em;
    /* border: #0e1a18; */
    /*left: 3em;*/
    /*overflow-y: hidden;*/
    /*display: grid;*/
    /*grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12% ;*/
    /*opacity: 0;*/
}

.champion_container img{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    z-index: 1;
    /* left: 3em; */
    /* overflow-y: hidden; */
    /* display: grid; */
    /* grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12% ; */
    /* opacity: 0; */
}

.titulo_champion_busq{
    /* position: relative; */
    /* width: 25%; */
    font-size: 3em;
    /* color: #e19b1a; */
    margin: 0;
}

.loldle-item{
    height: 6em;
    width: 6em;
    margin-left: 1em;
    padding: auto;
    position: relative;
    text-align: center;
    /* align-items: center; */
    background-color: #ff0000;
    border: 1px solid #ffffff;
    margin-bottom: 1em;
}


.loldle-item img{
    width: 100%;
    height: 100%;
    position: absolute;
    /* top: 10%; */
    left: 0;
}



.inicio{
    width: 100%;
    height: 75%;
}

.select_game{
    border: 1px solid #ffffff;
    width: 50%;
    text-align: center;
    margin: 1% 25%;
    background-color: #8a5e0e;
}

.select_game:hover{
    background-color: #e19b1a;
    cursor: pointer;
}

.minigame{
    display: none;
}

.quote, .ability{
    width: 100%;
    height: 15vh;
    border: 1px solid #ffffff;
}

#quote_guess audio{
    margin : -2rem 0 0 0;
}

.volver{
    position:absolute;
    top: 10vh;
    left: 5%;
    background-color: transparent;
    border: none;
    /* size: 10em; */
    display: none;
}

.volver i{
    color: white;
    font-size: 2em;
    cursor: pointer;
}

#keybinds{
    position: absolute;
    top: 10vh;
    right: 5%;
    background-color: transparent;
    border: none;
    /* size: 10em; */
    display: none;
}