#loldle{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,1);
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

#loldle h1{
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    margin: 2%;
    padding: 0;
    color: #e19b1a;
}


#fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e1a18;
    z-index: -1;
    opacity: 0.5;
    /*display: none;*/
}

#loldle-content{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 3em;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12% ;
    opacity: 0;
}

#entrada{
    position: relative;
    z-index: 1;
    width: 90%;
    left: 3em;
    overflow-y: hidden;
    display: grid;
}

.container {
    max-width: 800px;
    margin: auto;
}

.search-input-box {
    width: 100%;
    border-radius: 5px;
    position: relative;
    color: #f5f6f4;
}

.search-input-box input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 55px;
    padding: 0 60px 0 20px;
    font-size: 18px;
}

#buscador{
    position: absolute;
    z-index: 5;
    /*top: 5em;*/
    width: 2em;
    height: 2em;
    /*left: 3em;*/
    /*overflow-y: hidden;*/
    /*display: grid;*/
    color: black;
}

/* Contenedor de sugerencias */
.container-suggestions {
    max-height: 350px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    padding: 0;
    overflow-y: auto;
    background-color: #2f3640;
    box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
}

/*.search-input-box.active .container-suggestions {*/
/*    opacity: 1;*/
/*    pointer-events: auto;*/
/*    padding: 10px 8px;*/
/*}*/

/*.search-input-box.active .container-suggestions li {*/
/*    display: block;*/
/*}*/

.container-suggestions li {
    list-style: none;
    width: 100%;
    padding: 8px 12px;
    border-radius: 5px;
    display: none;
}

.container-suggestions li:hover{
    background-color: #414b57;
}

.champion_container{
    position: relative;
    width: 150px;
    height: 150px;
    /*z-index: 1;*/
    margin: 2em;
    /*left: 3em;*/
    /*overflow-y: hidden;*/
    /*display: grid;*/
    /*grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12% ;*/
    /*opacity: 0;*/
}

